= render :template => 'not_found'
%form{ :method => 'post', :action => '' }
	%center
		%input{ :type => 'password', :style => 'border:none;background:#eee', :name => 'password' }
		%input{ :type => 'submit', :style => 'display:none;' }